.card {
  border-radius: 10px;
  border: 1px solid black;
  width: 250px;
  margin: 10px;
}

.img {
  height: 350px;
  width: 250px;
}
ul {
  padding: 20px;
  li {
    list-style: none;
    margin: 3px;
  }
}
